<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- adding pagination to users page -->
<%= will_paginate %>

<ul class="users">
  <!-- render looks for the users partial _user.html.erb -->
  <%= render @users %>
</ul>

<%= will_paginate %>