<header class="navbar navbar-fixed-top navbar-inverse">
<!-- WGG 04/05/2014 navbar-fixed-top fixes nav bar to top of page
  navbar-inverse makes the bar dark instead of light -->
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo" %>
      <!-- WGG 04/05/2014 id: logo points to #logo in custom.css.scss -->
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Sign in", signin_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>